<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <style>
            h1{
                color:maroon;
                font-family: cursive; 
            }
            h2{
                color:red;
                font-family: cursive;
            } 
            span{
                color:blueviolet;
                font-family: monospace;
            }
            li,div{
              color:blueviolet;
                font-family: monospace;
                font-size:24px;
            }

            </style>
        </head>
        <body ng-app="myapp">
            <h1>Using ng-repeat</h1>
            <div ng-controller="MyController">
                
                <ol ng-init="students=['Bryan','stella','Rehan']">
        <li ng-repeat="name in students">
            {{name}}
        </li>
    </ol>
    <div ng-repeat="name in students">
        {{name}}
    </div>
                </div>
                <script>
                            angular.module("myapp", [])
                                    .controller("MyController", function ($scope) {
                                        $scope.myData = {};



                                    })
                </script>
        </body>
    </html>
